
{{!-- atualizar campo --}}
<h3> Create product </h3>
<form action="/deviceManagement/create" method="post">

<div class="form-group">
    <label class="col-form-label mt-4" for="inputNameProduct">Name</label>
    <input type="text" class="form-control" placeholder="inputNameProduct" id="nameProduct">

    <label class="col-form-label mt-4" for="inputPrice">Price</label>
    <input type="text" class="form-control" placeholder="inputPrice" id="price" >

    <label class="col-form-label mt-4" for="inputSerie">Serie</label>
    <input type="text" class="form-control" placeholder="inputSerie" id="serie">

    <label class="col-form-label mt-4" for="inputCategoryName">Category </label>
    <input type="text" class="form-control" placeholder="inputCategoryName" id="category" >
</div>

<button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-primary" href="/deviceManagement/" >Cancel</a>

</form>

{{!-- atualizar campo --}}
