<a class="btn btn-outline-primary" href="/deviceManagement/create"> Create </a>
{{!-- tabela --}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Serie</th>
            <th scope="col">Category Id</th>
            <th scope="col">Category</th>
            <th scope="col">Product handling</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            {{#productData}}
            <td>{{this}}</td>
            {{/productData}}
            <td>
              <a class="btn btn-outline-warning" href="/deviceManagement/remove/{{productData.[0]}}"><i class="fas fa-trash-alt"></i></a>
              <a class="btn btn-outline-info" href="/deviceManagement/update/{{productData.[0]}}"><i class="far fa-edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>
{{!-- tabela --}}