{{!-- atualizar campo --}}
<h3> Update product </h3>
<form action="/deviceManagement/update/{{id}}" method="POST">
<div class="form-group">

    <label class="col-form-label mt-4" for="inputNameProduct">Name</label>
    <input type="text" class="form-control" id="upNameProduct">

    <label class="col-form-label mt-4" for="inputPrice">Price</label>
    <input type="text" class="form-control" id="upPrice" >

    <label class="col-form-label mt-4" for="inputSerie">Serie</label>
    <input type="text" class="form-control" id="upSerie">

    <label class="col-form-label mt-4" for="inputCategoryName">Category </label>
    <input type="text" class="form-control" id="upCategory" >

</div>

<button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-primary" href="/deviceManagement/" >Cancel</a>

</form>

{{!-- atualizar campo --}}
