<div class="d-grid gap-2">
  <a class="btn btn-lg btn-primary" href="/managementCategory/">Gerenciamento de categoria</a>
  <a class="btn btn-lg btn-primary" href="/deviceManagement/">Dispositivo gestão</a>
</div>